<h1>Create a new Vacation</h1>

<%= form_for(@vacation) do |f| %>

<% if @vacation.errors.any? %>
  <div id="new-vacation-error">
    <h2><%= pluralize(@vacation.errors.count, "error") %> in vacation creation:</h2>
    <ul>
      <% @vacation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>

  </div>
<% end %>

  <%= f.label :name, "Vacation Name" %>
  <%= f.text_field :name %><br>

  <%= f.label :location, "Location" %>
  <%= f.text_field :location %><br>

  <%= f.label :start_date, "Start Date" %>
  <%= f.date_select :start_date, start_year: 1900, end_year: Time.now.year %><br>

  <%= f.label :end_date, "End Date" %>
  <%= f.date_select :end_date, start_year: 1900, end_year: Time.now.year %><br>

  <p>Do you want this vacation to be public</p>
  <%= f.label :public, "Yes", value: true %>
  <%= f.radio_button :public, true %>
  <%= f.label :public, "No", value: false %>
  <%= f.radio_button :public, false %>

  <br><br>

  <%= f.submit "Create Vacation" %>

<% end %>
