<h1><%= @vacation.name %></h1>

<% if current_user == @vacation.user %>
  <%= link_to "Edit this Vacation", edit_vacation_path(@vacation) %> <br>
  <%= link_to "Add a Visit", new_vacation_visit_path(@vacation) %>
<% end %>

<h3>By:
  <% if current_user %>
    <%= link_to "#{@vacation.user.name}", user_path(@vacation.user) %>
  <% else %>
    <%= @vacation.user.name %>
  <% end %>
</h3>

<ul>
  <li>Location: <%= @vacation.location %></li>
  <li>Vacation dates: <%= @vacation.start_date.strftime "%B %e" %> - <%= @vacation.end_date.strftime "%e, %Y" %></li>
  <% if @vacation.description != nil %>
    <li>Description: <%= @vacation.description %></li>
  <% end %>
  <li>Visits:
    <ul>
      <% @visits.each do |visit| %>
        <li><%= link_to "#{visit.park.full_name}", park_path(visit.park) %>
          <%= ", from #{visit.text_dates}" %> - <%= link_to "Edit", edit_vacation_visit_path(@vacation, visit) %></li>
      <% end %>
    </ul>
</ul>
