<div class="row">
  <div class="columns medium-12">

    <%= link_to "Back to all vacations", vacations_path %>

    <h2>Vacation: <%= @vacation.name %></h2>
    <h4>By:
      <% if current_user %>
        <%= link_to "#{@vacation.user.name}", user_path(@vacation.user) %>
      <% else %>
        <%= @vacation.user.name %>
      <% end %>
    </h4>
    <% if current_user == @vacation.user %>
      <%= link_to "Edit this Vacation", edit_vacation_path(@vacation), class:"" %> -
      <%= link_to "Add a Visit", new_vacation_visit_path(@vacation)  , class:"" %>
    <% end %>

  </div>
</div>

<div class="row">
  <div class="columns small-12">
    <strong>Location:</strong> <%= @vacation.location %><br>
    <strong>Vacation Dates:</strong> <%= @vacation.text_dates %><br>
    <% if !@vacation.description.empty? %>
      <strong>Description:</strong> <%= @vacation.description %>
    <% end %>
  </div>
</div>

<br>

<div class="row">
  <div class="columns small-12">
    <% if @private_table %>
      <%= render 'table_private' %>
    <% else %>
      <%= render 'table_public' %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="columns medium-12">

    <% if @map_center %>
      <h3>Map of Vacation</h3>
      <div id="map">
        <%= javascript_tag do %>
          window.vacation_location = '<%= @vacation.location %>';
          window.vacation_id = <%= @vacation.id %>;
          window.map_center = <%= @map_center %>;
        <% end %>
        <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_JAVASCRIPT_KEY']}&callback=initVacationMap" %>
      </div>
    <% end %>

  </div>
</div>
