<h3>Vacation Dates: <%= @vacation.text_dates %></h3>

<%= form_for([@vacation, @visit]) do |f| %>

  <% if @visit.errors.any? %>
    <div id="new-visit-error">
      <h2><%= pluralize(@visit.errors.count, "error") %> prevented your visit from being saved:</h2>
      <ul>
        <% @visit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label "Destination" %>
  <% if @visit.park.nil? %>
    <%= select_tag "park_id", options_from_collection_for_select(@park_list, "id", "full_name"), id: "park-visit-list" %><br>
  <% else %>
    <%= select_tag "park_id", options_from_collection_for_select(@park_list, "id", "full_name", "#{@visit.park.id}"), id: "park-visit-list" %><br>
  <% end %>

  <%= f.label :start_date, "Visit Start" %>
  <%= f.date_select :start_date, start_year: 1900, end_year: Time.now.year, default: @vacation.start_date %><br>

  <%= f.label :end_date, "Visit End" %>
  <%= f.date_select :end_date, start_year: 1900, end_year: Time.now.year, default: @vacation.end_date %><br>

  <br><br>
  <%= f.submit "Create Visit" %>
  <br><br>

<% end %>
