<div class="row column">
  <ul class="vertical medium-horizontal menu expanded text-center">
    <li><a href="<%= vacations_path %>"><div class="stat"><%= @total_vacations %></div><span>Vacations logged</span></a></li>
    <li><a ><div class="stat"><%= @total_visits %></div><span>Visits logged</span></a></li>
    <li><a href="<%= parks_path %>"><div class="stat"><%= @total_parks %></div><span>Destinations</span></a></li>
  </ul>
</div>
