<table>
  <thead>
    <tr>
      <th width="15">#</th>
      <th width="500">Park</th>
      <th width="250">Location</th>
      <th width="250">Distance</th>
    </tr>
  </thead>
  <tbody>
    <td><%= @alphabet_string.first %></td>
    <td><%= @start_point_string %></td>
    <td></td>
    <td></td>

    <% @found_parks.each_with_index do |park, index| %>
      <% if park == @found_parks.last %>
        <tr>
          <td><%= @alphabet_string[index + 1] %></td>
          <td><%= "#{park.full_name}" %></td>
          <td></td>
          <td id="<%= "#{index}_placeholder" %>"></td>
        </tr>
      <% end %>

      <tr>
        <td><%= @alphabet_string[index + 1] %></td>
        <td><%= link_to "#{park.full_name}", park_path(park) %></td>
        <td><%= park.state %></td>
        <td id="<%= "#{index}_placeholder" %>"></td>
      </tr>
    <% end %>

    <tr>
      <td></td>
      <td></td>
      <td><strong>Total</strong></td>
      <td id="<%= "total_placeholder" %>"></td>
    </tr>

  </tbody>
</table>
