<div class="row">

  <h3>Generator Results</h3>

  <p> On your trip from <strong><%= @start_point_string %></strong> to <strong><%= @destination_string %></strong>,
    there are <strong><%= "#{@found_parks.length}" %></strong> locations that may be on your way:
  </p>

  <table>
    <thead>
      <tr>
        <th width="15">#</th>
        <th width="500">Park</th>
        <th width="250">Location</th>
        <th width="250">Distance</th>
      </tr>
    </thead>
    <tbody>

      <% @found_parks.each_with_index do |park, index| %>
        <tr>
          <td><%= @alphabet_string[index + 1] %></td>
          <td><%= link_to "#{park.full_name}", park_path(park) %></td>
          <td><%= park.state %></td>
          <td id="<%= "#{index}_placeholder" %>"></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
        <td></td>
        <td><strong>Total</strong></td>
        <td id="<%= "total_placeholder" %>"></td>
      </tr>

    </tbody>
  </table>

  <p>For detailed and adjustable directions, <%= link_to "view this route on Google Maps.", "#{@directions_link}", target: :_blank %></p>
  <br>

  <div id="map">
    <%= javascript_tag do %>
      var start_point_json = <%=raw @start_point_json %>;
      var found_parks_json = <%=raw @found_parks_json %>;
    <% end %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_JAVASCRIPT_KEY']}&callback=initGeneratorMap" %>
  </div>

  <br>

</div>
