<!-- Start Top Bar -->
<div class="top-bar">

  <div class="top-bar-left">
    <ul class="menu">
      <li>
        <div id="home-button-container">
          <a id="home-button-link" href="/"> <img id="home-button-image" src="https://s3.amazonaws.com/vacation-tracker/support/home_button_rectangle-transparent.png"> </a>
        </div>
      </li>
      <li><%= link_to "Parks", parks_path %></li>
      <li><%= link_to "Vacations", vacations_path %></li>
      <li><%= link_to "Trip Generator", generator_path %></li>
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      <% if current_user %>
        <li class="sign-in-status">Signed in as <strong><%= current_user.name %>!</strong><li>
        <li><%= link_to "My Account", user_path(current_user) %></li>
        <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      <% end %>
    </ul>
  </div>

</div>
<!-- End Top Bar -->
